body
{
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    background-color:#C2C2C2;
    width: 100%;
}

#entete img{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

#centrale
{
    width:1000px;
    margin-left: auto;
    margin-right: auto;
    text-align:left;
}



#menu
{
    float:left;
    height:500px;
    width:250px;
    background-color:#BF8C56;
}


#contenu
{
    width:650px;
    height:350px;
    float:left;

}

#pied
{
    text-align:center;
    clear:both;
    height:50px;
}








